@model DigitalLibrary.Web.Models.WorkCreateViewModel

@{
    var currentYear = DateTime.Now.Year;
}

@using (Html.BeginForm("Upload", "Work", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div>
        @Html.LabelFor(m => m.Title, "Title: ")
        @Html.EditorFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title, String.Empty, new { @class = "help-inline", @style = "color:red" })
    </div>
    <div>
        @Html.LabelFor(m => m.Description, "Description: ")
        @Html.TextArea("Description")
        @Html.ValidationMessageFor(m => m.Description, String.Empty, new { @class = "help-inline", @style = "color:red" })
    </div>
    <div>
        @Html.LabelFor(m => m.Year, "Year : ")
        @Html.DropDownList("Year")
        @Html.ValidationMessageFor(m => m.Year, String.Empty, new { @class = "help-inline", @style = "color:red" })
    </div>
    <div>
        @Html.LabelFor(m => m.Genre, "Genre : ")
        @Html.DropDownList("Genre")
    </div>
    <div id="authors-dropdown-container">
        @Html.LabelFor(m => m.Author, "Author name: ")
        @Html.DropDownList("Author")
        @Html.ValidationMessageFor(m => m.Author, String.Empty, new { @class = "help-inline", @style = "color:red" })
    </div>

    <div>
        Select Work Picture :<input type="file" name="file" accept=".jpeg , .jpg, .png" />
    </div>

    <div>
        Select Work :<input type="file" name="file" accept=".rar , .zip" />
    </div>
    
    <div>
        <input type="submit" name="upload" />
    </div>
}
 
    <div>
        <input type="button" name="show-createAuthor-form" class="btn-sm" id="show-createAuthor-form" value="Add new Author"/>
    </div>
    
    <div id="createauthor-form" style="display:none">
        @using (Ajax.BeginForm("Create", "Author", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "Author" }))
        {
            <h3>Create author</h3>
            <div>
                @Html.Label("Author Name")
                @Html.Editor("AuthorName")
            </div>
    
            @Html.AntiForgeryToken()
            <input type="submit" value="Submit author" />
        }
    </div>

<script>
    (function () {
        var isShown = false;
        $('#show-createAuthor-form').on('click', function () {
            isShown = !isShown;
            if (isShown) {
                $('#createauthor-form').show();
            }
            else {
                $('#createauthor-form').hide();
            }
        })
    }()) 
</script>








