@model DigitalLibrary.Web.Models.HomePageModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Digital Library</h1>
    @Html.DisplayFor(m => m.Statistics, "HomePageStatisticsViewModel")
</div>
<div class="row">
    <div class="col-md-push-11">
        <h3>Top ten rated users</h3>
        @foreach (var user in @Model.TopUsers)
        {
            @Html.DisplayFor(m => user, "HomePageTopUsersViewModel")
        }
    </div>

    <div class="col-lg-11">
        <div id="most-popupar-works-container" class="home-page-line-container">
            <h3>Most Popular Works</h3>
            @foreach (var work in @Model.MostPopularWorks)
            {
                @Html.DisplayFor(m => work, "WorkListViewModel")
            }
           
        </div>
        <div class="row">

        </div>
        @foreach (var genre in @Model.GenreBooks)
        {
            <div class="home-page-line-container">
                <a href="@Url.Action("Details", "Genre", new { @genre.Id })">
                    <h3>@genre.GenreName</h3>
                </a>
                @foreach (var work in genre.Works)
                {
                    @Html.DisplayFor(m => work, "WorkListViewModel")
                }
               
            </div>
            <div class="row">

            </div>
        }    
    </div>
</div>

