@model IEnumerable<DigitalLibrary.Web.Models.WorkListViewModel>


@(Html.Kendo().Grid(Model) // Bind the grid to the Model property of the view
      .Name("Grid")      
      .Columns(columns =>
      {
          columns.Template(@<text><h2>@Html.ActionLink(@item.Title, "Details", "Work", new { @item.Id }, null)</h2></text>).Title("Title");

          columns.Template(@<text><img src="/@item.PictureLink" class="img-responsive"/></text>).Title("Image").Width(120);
          columns.Bound(p => p.AuthorName).Width(30);
          columns.Bound(p => p.Year).Width(30);
          columns.Template(@<text>@Html.ActionLink("Download", "Download", "Work", new { @item.Id }, new { @class = "btn btn-info" })</text>).Title("Download").Width(30);
          columns.Template(@<text>@Html.ActionLink("Approove", "Approove", "TrustedUserWork", new { @item.Id }, new { @class = "btn btn-success" })</text>).Title("Approove").Width(30);
          columns.Template(@<text>@Html.ActionLink("Delete", "Delete", "TrustedUserWork", new { @item.Id }, new { @class = "btn btn-danger" })</text>).Title("Delete").Width(30);
      })
     .Pageable()
)